
/* variáveis */
:root {
    --pageBackground: #000000;
	--bottomBackground: #554848;
	--topBackground:#695A5A;
    --fontColor: #F2F7F7;
    --shadows: rgba(196, 196, 196, 0.2);
	--logoColor: #F27405;
	--buttonColor: #FF9F0A;
}

/* fontes */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100&family=Nunito+Sans:wght@200;400;600&family=Roboto:wght@100;300&display=swap');

/* reset */

html,
body {
 
    margin: 0;
	box-sizing: border-box;
	background-color: var(--pageBackground);
	
}

/* estilos básicos */

* {
  font-family: "Noto Sans", sans-serif;
  color:var(--fontColor);
  font-size: 12pt;	
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;

}

.main-menu{
	display: none;
}
.menu-film{
	display:none;
}
.wrapper .top_nav{

  width: 100%;
  height: 65px;
  background:#695A5A;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.wrapper .top_nav .left #logo p span{
  display: flex;
  align-items: center;
  margin-right: 25px;
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
  font-size: 32pt;
  color: var(--logoColor);
}


.wrapper .top_nav .right ul{
  display: flex;
}


.wrapper .top_nav .right ul li:last-child{
  
  margin-right: 0;

}


.wrapper .top_nav .right ul li a{
  display: block;
  padding: 0px 10px;

}

.right ul li:last-child a i{
	size: 30px;
  
}

.wrapper .bottom_nav{
  width: 100%;
  background: var(--bottomBackground);
  height: 45px;
  padding: 0 50px;
  display: flex;
  justify-content:space-between;  
  align-items: center;
  
}

.wrapper .bottom_nav ul{
  width: 100%;
  height: 40px;
  display: flex;
  justify-content:space-between;  
  align-items: center;
}

.wrapper .bottom_nav ul li a{
  
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 12px;
  display: block;
  
}
.wrapper .bottom_nav ul li {
  margin-left: 30px;
 
}

.material-icons{
	color: #CAC5C5;
	font-size: 30px;
	text-align: center;
	
	
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 16px 8px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: down;
  position: left;
  color: black;
  padding: 20px 20px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {
  background-color: #D9D9D9;
}

.dropdown:hover .dropdown-content {
  display: block;
}

h1{
	
	font-weight:600;
	font-size: 24pt;
	text-align: center;
	margin: 20px;
	
}

h2{	
	font-weight:500;
	font-size: 22pt;
	
}


.flex-container{
  display: flex;
  flex-direction: column;
  top: 0;
}

.group{
  display: flex;
  flex-direction: column;
  top: 0;
}
	
	
.featured{
  margin: 10px;
  padding: 20px;

}

.mylist{
  margin: 10px;
  padding: 20px;

}
.session-title{
  margin: 10px;
  padding: 20px;

}


img{
   width: 25%;
   margin-left: auto;
   margin-right: auto;
   display: block;
		
}

.titulos{

  font-weight:100;
  font-size: 12pt;
  display: block;
  align-items:center;

	
}

h3{

  font-weight:400;
  font-size: 20pt;
  display: block;
  text-align: center;
  padding: 35px;
}

.banner{
   width: 50%;
   margin-left: auto;
   margin-right: auto;
   display:block;
   justify-content: center;
   vertical-align: top;
   text-align: center;
   padding: 15px;
}

.add-remove{
	
	font-weight:100;
    font-size: 9pt;
	display:block;
    text-align: center;
	cursor: pointer;
	
	
}
.add-remove:hover {
  color: var(--logoColor);
 
}

.info p{
	display:flex;
	font-weight: 100;
    font-size: 10pt;
	flex-direction: column;
	justify-content: center;
    vertical-align: top;
	text-align: center;
	color:#D8D8D8;
	padding: 15px;

}
.filmes{
	display: block;
	
}

.list{
	display: block;
}

.float-child {
    
	flex-direction: column;
	justify-content: center;
    vertical-align: top;
	text-align: center;
	padding: 20px;
 
}  

.see-more{
	font-weight:100;
	font-size: 6pt;
	text-align: right;
	margin: 25px;
	padding-right: 40px;
	
	
}


.form-group{
    margin: 40px;
	display:block;
	width: 80%;
    padding: 20px;
	height:70%;
	justify-content: center;

	
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 7px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  color: #000000;
	
}

input[type=text]:focus {
  border: 2px solid #695A5A;
}

label{
	font-size:10pt;
	font-weight: 100;
	

}

.botao {
  background-color: var(--buttonColor);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  margin-bottom: 20px;
  width:100%;
}

.botao:hover {
  background-color: var(--logoColor);
 
}

.bottom_nav .search-container {
  float: right;
}

.bottom_nav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.bottom_nav .search-container button {
  float: right;
  padding: 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
  position: absolute;
}

.bottom_nav .search-container button:hover {
  background: #ccc;
}


/* web e demais tamanhos */
@media only screen and (min-width : 920px) {
 
*{
    font-size: 14pt;
}

.flex-container{
	float: right;
	width: 70%;

}

    
img{
    width: 50%;
	height: 50%;	
}

.float-child {
    width: 33%;
	float: left;
} 

.container{
	display: flex;
	flex-direction: column;
	width: 30%;
	height:80%;
	
}
.featured{
  margin: 10px;
  padding: 20px;

}

.main-menu{
    width: 25%;
	height:80%;
	margin: 20px 20px;
	padding: 50px 30px;
	float:left;
	text-align: center;
	
}	

.form-group{
    width: 60%;
	height:80%;
	float:right;
	margin: 10px;
	margin-right:50px;
}	

#menu{
  text-align: center;
}

#recommendation-tool{
	font-size: 18pt;
	
}
select {
  margin-right: 30px;
  width: 220px;
  padding: 8px 10px;
  margin: 2px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;

  
}

select option{
	color: black;
}


#titulo-suprise{
  text-align: center;
  color: var(--buttonColor);
  padding: 8px 10px;
  margin:10px;
  font-size: 12pt;
  cursor: pointer;

}
#titulo-suprise:hover {
  color: var(--logoColor);
 
}


#select-genre{
  color: #CAC5C5;
}
.dropdown{
	display: none;
}

.search{

  margin-left: 900px;		
	
}

.title{
   font-weight:500;
   font-size: 28pt;
   text-align:center-left;
   padding-top: 30px;


}

.info p{
	
	font-size: 12pt;
	font-weight:100;
	padding: 0;
	margin:0;
	text-align: justify;

}	
.info{
	padding-top:30px;
	margin-right:50px;
	width:30%;	
	float: right;
	
}

.group{
   float:left;
   width: 40%;
   padding:0;
   margin: 0;
	
}
.group img .banner{
	margin: 0;
	width:60%;
	align: center;
	padding: 0;
}
.menu-film{
    width: 20%;
	height:80%;
	margin: 30px;
	padding-top:40px;
	float:left;
	text-align: center;
	display: flex;
	flex-direction: column;
		
}	

